section i{
    font-size: 30px;
    color: blue;
}
nav i{
    font-size: 25px;

}

input{
    height: 60px;
}
textarea{
    height: 100px;
}
nav a{
    color: black;
}
nav a:hover{
    color: white;
    transition: 0.5s linear;
}